@import 'adaptive_assort.css';
* {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #EAE0D5;
}

.wrapper {
    width: 100vw;
    background-color: #191E22;
}
.menu {
     width: 50vw;
     margin-left: 50vw;
}
.choose{
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 5vh;
    padding-top: 10vh;
    text-align: center;
    height: 5vh;
    ul{
        background-color: #252D35;
        border:2px solid #EAE0D5;
        height: 5vh;
        padding: 1vh 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60vw;
        list-style-type: none
    }
    li{
        font-weight: 700;
        height: 5vh;
        line-height: 5vh;
    }
    li:hover{
        cursor: pointer;
    }
}
.goods{
    width: 80vw;
    margin-left: 10vw;
    height:350vh;
    h2{
        text-align: center;
        padding: 5vh 0;
       font-size: 40px;
    }
    .detail_card{
        margin: 0 2vw;
        overflow: hidden;
        background-color: #EAE0D5;
        width: 15vw ;
        height: 40vh;
        text-align: center;
        img{
            width: 15vw;
            height: 25vh;
            object-fit: cover;
            transition: all .5s ease-out;
        }
        img:hover{
            transition: all .5s ease-out;
            height: 40vh;
        } 
        h3{
            font-weight: 700;
            color: #191E22;
        }
        p{
            padding: 1vh 0;
            font-weight: 400;
            color: #191E22;
            font-size: 18px;
        }
        button{
            border: 3px solid #191E22;
            color: #191E22;
            border: 0;
            background-color: #EAE0D5;
        }
        button:hover{
            cursor: pointer;
        }
    }
    .clothing{
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .shoes{
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .assortment{
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
/*-------------------------------------POP-UP-------------------------------------------------------*/
.pop-up{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(25, 30, 34, .7);
    .box{
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 80vh;
        margin-top: 10vh;
        margin-left: 10vw;
        background-color: #252D35;
        form{
            margin-top: 5vh;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 5vw;
            width: 50vw;
            input{
                width: 40vw;
                height: 5vh;
                background-color: #191E22;
                border: none;
                color: #EAE0D5;
            }
            button{
                margin-left: 15vw;
                width: 10vw;
                color: #191E22;
                background-color: #EAE0D5;
                border: none;
                transition: all .5s ease-out;
            }
            button:hover{
                color: #EAE0D5;
                background-color: #191E22;
                transition: all .5s ease-out;
            }
        }
        .media{
            text-align: center;
            margin-top: 5vh;
            .soc_med_txt{
                font-size: 32px;
            }
            ul{
                list-style: none;
            }
            a{
                text-decoration: none;
            }
            li{
                padding: 10px 0;
            }
        }
        #cancel_button{
            margin-top: 5vh;
            width: 3vw;
            height: 3vw;
            margin-left: 2vw;
        }
        #cancel_button:hover{
            cursor:pointer ;
        }
    }
}